@charset "UTF-8";

/*
色指定
*/
:root {
    /* bg */
    --bg-base: #FAFAFA;
    --bg-primary: #C7A26C;
    --bg-primary-light: rgba(199, 162, 108, 0.35);
    --bg-primary-extra-light: rgba(199, 162, 108, 0.05);

    --bg-secondary: #52442F;
    --bg-black: #333333;
    --bg-white: #FFFFFF;
    --bg-accent: #FF9800;

    /* border */
    --border-gray: #DDDDDD;
    --border-primary: #C7A26C;
    --border-black: #333333;

    /* font */
    --font-primary: #C7A26C;
    --font-black: #333333;
    --font-white: #FFFFFF;
    --font-link: #4895E6;
    --font-base: #8D857E;
}

:root {
    --width-content-s: 760px;
    --width-content: 1000px;
}

:root {
    --font-family-base: "Noto Sans JP", sans-serif;
}

:root {
    --z-index-header: 10;

}

/*
リセットCSS
*/
html {
    color: #000;
    background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: "";
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input,
textarea,
select,
button {
    /* color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    *font-size: 100%;
    border-radius: 0;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    background-color: inherit; */
}

input,
textarea,
select {
    font-size: 16px;
}

textarea {
    resize: vertical;
    display: block;
}

button {
    padding: 0;
    cursor: pointer;
}

legend {
    color: #000;
}

main {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

svg {
    display: block;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

/* サイト全体の設定 */
body {
    font-family: var(--font-family-base);
    line-height: 1.8;
    color: var(--font-base);
}

/* コンポーネント */
.h-button {
    display: block;
    /* width: 120px; */
    padding: 5px;
    align-items: center;
    border: 1px solid var(--border-primary);
    border-radius: 50px;
    margin: 0 auto;
}

/* レイアウト */
.l-container {
    padding: 0 18px;
    margin: 0 auto;
}

@media screen and (min-width: 500px) {
    .l-container-s {
        padding: 0;
        width: var(--width-content-s);
    }
}

@media screen and (min-width: 768px) {
    .l-container {
        padding: 0;
        width: var(--width-content);
    }
}

/* 各セクション上の余白設定 */
.l-section {
    padding: 64px 0;
}

@media screen and (min-width: 764px) {
    .l-section {
        padding: 96px 0;
    }
}

/* 各セクション下の余白設定 */
.c-inner {
    margin-bottom: 32px;
}

@media screen and (min-width: 764px) {
    .c-inner {
        margin-bottom: 40px;
    }
}

/* セクションタイトル */
.sec-title {
    font-size: 22px;
    margin-top: 64px;
    margin-bottom: 32px;
    color: var(--font-primary);
}

@media screen and (min-width: 764px) {
    .sec-title {
        font-size: 32px;
        color: var(--font-primary);
        text-align: center;
        margin: 96px 0;
    }
}
    
/*-------------------------
ヘッダー 
------------------------*/
.header {
    padding: 20px 10px;
}

.header-inner  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h-logo {
    width: 40%;
}

.header-button {
    color: var(--font-black);
    border: 1px solid var(--border-black);
    background-color: var(--bg-accent);
    font-weight: bold;
}


@media screen and (min-width: 764px) {
    .h-logo {
        width: 100px;
    }
}

.h-btn-wrapper {
    display: flex;
}

@media screen and (min-width: 764px) {
    .h-btn-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

.h-button--bg-orange {
    background-color: var(--bg-accent);
    font-size: 18px;
    padding: 15px;
    font-weight: bold;
}

.h-button--l {
    padding: 10px;
    font-weight: bold;
}

/* ページ上部 */
.pg-top {
    background-color: var(--bg-primary-light);
    background-image: url(../img/bg-pattern-kv@2x.png);
    height: 400px;
}

@media screen and (min-width: 764px) {
    .pg-top-inner {
        display: flex;
    }
}

/* 動画でわかるCWstudio */
.movie {
    display: flex;
    justify-content: center;
}

/* 9つの機能・特徴 */
.f-fullwidth {
    background-color: var(--bg-primary-extra-light);
    margin: 5px calc(50% - 50vw) 15px;
    width: 100vw;
}

.c-inner {
    width: 90%;
    max-width: var(--width-content);
    margin: 0 auto;
}

@media screen and (min-width: 764px) {
    .f-flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 40px 0;
        color: var(--font-primary);
    }

    .function-img {
        width: 60%;
        margin-left: 25px;
        filter:drop-shadow(3px 3px 3px rgb(0,0,0, 0.3));
    }

    .adjust-img {
        margin-left: 130px;
    }

    .point {
        font-size: 12px;
    }

    .f-title {
        font-size: 26px;
    }

    .f-about {
        color: var(--font-black);
    }

    .about {
        display: flex;
        align-items: center;
    }

    .f-icon {
        width: 100%;
        height: 44px;
        margin-right: 5px;
    }

    .f-icon-text {
        width: 100%;
    }
}

/* 無料トライアル */
.freetrial {
    background-color: var(--bg-secondary);
    padding: 30px 30px;
    margin: 5px calc(50% - 50vw) 15px;
    width: 100vw;
    text-align: center;
    color: var(--font-white);
}

.freetrial--adjust {
    padding: 0;
}

@media screen and (min-width: 764px) {    
    .fr-title {
        font-size: 32px;
    }
    
    .fr-text {
        margin: 10px 0;
    }

    .h-button--adjust {
        font-size: 18px;
    }
}

/*======================
料金プラン 
======================*/

/* 無料プラン */
.p-flex {
border: 3px solid var(--border-gray);
border-radius: 20px;
text-align: center;
padding: 50px;
}

.p-title {
    border: 2px solid var(--border-gray);
    border-radius: 50px;
        padding: 5px;
    }
    
.monthly-fee {
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;
    }
    
.price {
        font-size: 36px;
}
    
/* 有料プラン(金色) */
.p-flex--gold {
    border: 3px solid var(--border-primary);
    color: var(--font-primary);
    background-color: var(--bg-primary-extra-light);
}

.p-title--gold {
    border: 1px solid var(--border-primary);
    background-color: var(--bg-white);
}

.about {
    position: relative;
}

.about::after {
    content: '';
    display: block;
    position: absolute;
    top: .5em;
    left: -1.5em;
    width: 10px;
    height: 5px;
    border-left: 2px solid var(--border-gray);
    border-bottom: 2px solid var(--border-gray);
    transform: rotate(-45deg);
}

.about::after {
    border-left: 2px solid var(--border-primary);
    border-bottom: 2px solid var(--border-primary);
}

@media screen and (min-width: 764px) {
    .p-flex-wrapper {
        margin-top: 10px;
        display: flex;
        justify-content: space-evenly;
    }
}

/* Q&A */
.circle::before {
    content: "Q";
    background-color: var(--bg-primary);
}

.circle--a::before {
content: "A";
}

/* ページ下部 */
@media screen and (min-width: 764px) {
    .pd-img {
        width: 340px;
        margin: 0 auto;
        display: block;
    }
    
    .pd-links {
        display: flex;
        justify-content: center;
    }

    .pd-link {
        margin: 5px 2px;
    }
}

/* copyright */
.copyright {
    text-align: center;
    font-size: 12px;
}
